/*** web fonts ***/

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400);

/*** basic reset ***/

body, h1, h2, ul, ol {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1em;
  margin: 20px auto 0;
  width: 80%
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  margin-top: .7em;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 20em;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}
